**/.dockerignore
**/Dockerfile
**/compose.yml

**/.git/
**/.gitignore
**/.gitattributes
**/.prettierignore
**/.prettierrc
**/.prettierrc.*
**/prettier.config.*
**/.eslintrc
**/.eslintrc.*
**/eslint.config.*
**/tsconfig.eslint.json
**/README.md

**/node_modules/

**/dist/

**/.idea/
**/.vscode/

**/.env.local
