### Dependencies ###
node_modules/

### Next.js ###
.next/
out/

### Production ###
build/

### local env files ###
.env*.local

### TypeScript ###
*.tsbuildinfo

### Intellij IDEA ###
.idea/*
!.idea/modules.xml
!.idea/*.iml
!.idea/codeStyles/
!.idea/externalDependencies.xml
!.idea/icon.svg
!.idea/dictionaries/
!.idea/jsLinters/
!.idea/prettier.xml

### VS Code ###
.vscode/

### Misc. ###
.post-commit.log
